<a name="loesung"></a>Lösung zu Übung 01
===

In [1]:
# 2.a 
print(1 + 1)
print(1 - 1)
print(3 * 4)
print(10 / 5)
print(2 ** 8)

2
0
12
2.0
256

In [2]:
# 2.b
ergebnis = int(10 / 3)
print(ergebnis)
print(type(ergebnis))

3
<class 'int'>

In [3]:
# 2.c
ergebnis = 10 * 3 + 2
ergebnis2 = 10 * (3 + 2)

print(ergebnis)
print(ergebnis2)

32
50

In [4]:
# 2.d
print(0.1 + 0.2) # not exactly 0.3!

0.30000000000000004

In [5]:
# 3.a
vorname = 'Emmy'
nachname = 'Noether'
zitat = '''Das erste und einzige Mal, dass 
man Emmy Noether in Deutschland ohne jede 
Einschränkung ihren männlichen (beamteten) 
Kollegen gleichstellte, war, als die 
Nationalsozialisten sie aufgrund des Gesetzes 
zur Wiederherstellung des Berufsbeamtentums ... 
am 25. April 1933 von ihrer Tätigkeit an der 
Universität Göttingen beurlaubten, obwohl sie 
als nichtbeamtete Professorin zu diesem 
Zeitpunkt strenggenommen vom Gesetz noch 
gar nicht betroffen war.'''

In [6]:
# 3.c
print('Über {} {}: {}'.format(vorname, nachname, zitat))

Über Emmy Noether: Das erste und einzige Mal, dass
man Emmy Noether in Deutschland ohne jede
Einschränkung ihren männlichen (beamteten)
Kollegen gleichstellte, war, als die
Nationalsozialisten sie aufgrund des Gesetzes
zur Wiederherstellung des Berufsbeamtentums ...
am 25. April 1933 von ihrer Tätigkeit an der
Universität Göttingen beurlaubten, obwohl sie
als nichtbeamtete Professorin zu diesem
Zeitpunkt strenggenommen vom Gesetz noch
gar nicht betroffen war.